<!-- Cart-Page-Content-Start -->
<div class="cart-page-content page-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cart_title">
          <h4>Shopping Cart</h4>
        </div>
        <div class="table-responsive">
          <table class="cart-table text-center">
            <thead>
            <tr id="cart_th">
              <th>#</th>
              <th>Image</th>
              <th>Product name</th>
              <th>QUANTITY</th>
              <th>Price</th>
              <th>Total</th>
              <th>Remove</th>
            </tr>
            </thead>

            <tbody>

            <!--REPEAT PRODUCTS-->
            <tr *ngFor="let product of productsCart">
              <td>{{ product.id }}</td>
              <td><img [src]="product.image" /></td>
              <td>{{ product.title }}</td>
              <td>
                <form id="qua_in_2">
                  <input type="number" value="1" name="quantity" min="1" max="10" [(ngModel)]="product.quantity">
                  {{ product.quantity }}
                </form>
              </td>
              <td>$ {{ product.price }}</td>
              <td>$ {{ product.total }}</td>
              <td>
                <i class="fa fa-trash" (click)="deleteProduct(product.id, $event)"></i>
              </td>
            </tr>

            <!--TOTAL-->
            <tr id="total_colspan">
              <td colspan="3" class="text-left">total</td>
              <td>2</td>
              <td>190.98$</td>
              <td colspan="2">
                <a class="checkPageBtn" href="#">add to wishlist</a>
              </td>
            </tr>
            </tbody>
          </table>
          <button (click)="addProduct({id: number, name: string, quantity: number, price: number})">AddProduct</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart-Page-Content-End -->