<div class="b-slider">

  <div class="b-slider__container">

    <template ngFor let-slide [ngForOf]="[ selectedSlide ]">
      <div [@slideAnimation]="orientation" class="b-slide__item">
        <span>{{ slide.id }}</span>
      </div>
    </template>

  </div>

  <div class="b-slider__controls">
    <span class="b-slider__prev" (click)="showPrevSlide()">Prev</span>
    <span class="b-slider__next" (click)="showNextSlide()">Next</span>
  </div>

  <div class="b-slider__pagination">

  </div>

</div>
