<div class="b-slider">

  <div class="b-slider__container">

    <template ngFor let-slide [ngForOf]="[ selectedSlide ]">
      <div [@slideAnimation]="orientation" class="b-slide__item">
        <span>{{ slide.id }}</span>
      </div>
    </template>

  </div>

  <div class="b-slider__controls">
    <span class="b-slider__prev" (click)="showPrevFriend()">Prev</span>
    <span class="b-slider__next" (click)="showNextFriend()">Next</span>
  </div>

  <div class="b-slider__pagination">

  </div>

</div>

<!--<div class="container">-->
  <!--<template ngFor let-friend [ngForOf]="[ selectedFriend ]">-->
    <!--<div [@friendAnimation]="orientation" class="friend" style="background-color:#000;">-->
      <!--<div class="name">-->
        <!--{{ friend.name }}-->
      <!--</div>-->
      <!--<div class="avatar"></div>-->
      <!--<div class="meta">-->
        <!--ID: {{ friend.id }}-->
        <!--&mdash;-->
        <!--Favorite Movie: {{ friend.favoriteMovie }}-->
      <!--</div>-->
    <!--</div>-->
  <!--</template>-->
<!--</div>-->
<!--<p class="controls">-->
  <!--&laquo;-->
  <!--<a (click)="showPrevFriend()">Previous Friend</a>-->
  <!--&mdash;-->
  <!--<a (click)="showNextFriend()">Next Friend</a>-->
  <!--&raquo;-->
<!--</p>-->