<div class="mainmenu float-right">
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
      <li><a routerLink="/comingsoon">NEW</a></li>
      <li><a routerLink="/comingsoon">FEATURED</a></li>
      <li><a routerLink="/comingsoon">BLOG</a></li>
      <li><a routerLink="/comingsoon">BRAND</a></li>
      <li><a routerLink="/comingsoon">OFFERS</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
      <li class="shop_icon">
        <a routerLink="/cart" routerLinkActive="active"><img src="assets/img/menu_icon_img.png" alt="" /></a>

        <app-cart-badge></app-cart-badge>

      </li>
    </ul>
  </nav>
</div>
